body{
    background-color: rgb(240, 231, 226);
    margin: 0px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    width: 1536px;
    padding-bottom: 40px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.header{
    width: 1536px;
    height: 52px;
    margin-top: 14px;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    padding: 0px;
}
.header-content{
    display: flex;
    align-items: center;
    padding: 0px;
}
.li-logo{
    margin-left: 202px;
    height: 90px;
    width: 140px;
    margin-right: 50px;
}
.li-rest{
    text-decoration: none;
    color: rgb(50, 50, 50);
    font-family: 'Quicksand', sans-serif;
    margin-right: 19px;
    font-size: 16px;
    transition: 0.3s;
}
.li-rest:hover{
    color: rgb(218, 199, 185);
}
.header-icon{
    margin-left: 500px;
    margin-right: 150px;
}
.header-button{
    height: 45px;
    width: 150px;
    background-color: black;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}
.icon{
    height: 20px;
    width: 20px;
    margin-right: 20px;
}
.icon-love{
    height: 20px;
    width: 20px;
    margin-right: 20px;
}
.big-str{
    height: fit-content;
    width: 1536px;
    background-color: #f1f5f8;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}
.smal-str{
    width: 1150px;
    height: 630.1px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 500px;
    row-gap: 50px;
}
.product-d{
    font-size: 16px;
    font-family: 'Quiksand',sans-serif;
    color: rgb(50, 50, 50);
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
}
.dashed-p{
    text-decoration: dashed;
}
.product-p{
    font-size: 16px;
    font-family: 'Quicksand',sans-serif;
    color: black;
    font-weight: bolder;
}
.product-img{
    width: 340px;
    height: 450px;
}
.footer{
    width: 1536px;
    height: 170px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.foot-logo{
    font-size: 24px;
    font-family: 'Dancing Script';
}
.foot-p{
    font-size: 18px;
    font-family: 'Quicksand',sans-serif;
}
